/*CSS Style Sheet - Homework 1*/

header {
  color: #333;
  background: #4aaaa5;
  float: left;
 } 

h1 {
	color: white;
}

.RegFont{
	color: #777777;
}

#about {
	float: right;
}

#portfolio {
	float: right;
}

#contact {
	float: right;
}
